.mainbody-box {
  padding: 0px 30px;
}

/* ** */

.mainbody-posts {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );

  gap: 20px;

  margin-top: 25px;
  max-width: 100%;
}
