.delmodal-box {
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  position: fixed;
  z-index: 999;
}

.delmodal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--grey-dark);
  color: var(--white-dark);
  border-radius: 10px;

  padding: 0px 20px;
  margin-top: 20px;
  height: 60px;
  width: 525px;
}

.delmodal-x {
  cursor: pointer;
}

.delmodal-x:hover {
  color: var(--grey-medium);
}

.delmodal-t-right {
  display: flex;
  align-items: center;
}

.delmodal-t-right i {
  font-size: 44px;
  margin-right: 14px;
}

@media screen and (max-width: 650px) {
  .delmodal-title {
    padding: 0px 20px;
    margin-top: 20px;
    height: 40px;
    width: 275px;
  }

  .msg-filter,
  .msgmodal-category p,
  .msgmodal-buttons button {
    font-size: 14px;
  }
}
