.postcard {
  border-radius: 15px;
  position: relative;
  padding: 20px 20px 10px 20px;
}

#postcard-trash:hover {
  color: var(--grey-medium);
  cursor: pointer;
}

.postcard-bg {
  background-color: var(--grey-extra-light);
}

.postcard-bg1 {
  background-color: var(--blue-light);
}

.postcard-bg2 {
  background-color: var(--green-light);
}

.postcard-bg3 {
  background-color: var(--pink-light);
}

.postcard-bg4 {
  background-color: var(--orange-light);
}

/* ** */

.postcard-head {
  display: flex;
  justify-content: space-between;
}

.postcard-head-left {
  display: flex;
  gap: 12px;

  margin-bottom: 10px;
}

.postcard-head-left div p {
  font-size: 12px;
  font-weight: 600;
}

.postcard-head-right {
  display: flex;
  justify-content: space-between;
  width: 40px;
}
.postcard-head-right i {
  text-align: center;
  height: 16px;
  width: 16px;
}

.postcard-head-right i:hover {
  cursor: pointer;
}

.postcard img {
  height: 45px;
  width: 45px;
}

/* ** */

.postcard hr {
  opacity: 0.4;
}

/* ** */

.postcard-text {
  margin: 15px 0px;
}

.postcard-icons {
  display: flex;
  justify-content: space-between;
}

.postcard-icons p {
  font-size: 14px;
  font-weight: 600;
}

.postcard-icons div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postcard-icons div:last-child {
  gap: 20px;
}

.postcard-icons div i:hover {
  cursor: pointer;
}

.postcard-right {
  position: relative;
}

.postcard-right i {
  text-align: center;
  height: 16px;
  width: 16px;
  z-index: 30;
}
.postcard-right p {
  margin-left: -12px;
  margin-right: -6px;
}

.postcard-right .fa-bookmark {
  margin-left: -3px;
}

.share-links {
  z-index: 29;
  position: absolute;
}

.sharebubble {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(
    2px 2px 6px rgb(0, 0, 0, 0.15)
  );
  backdrop-filter: blur(2px);

  color: var(--white);
  font-size: 30px;

  left: -84px;
  bottom: 55px;
  width: 170px;
  height: 50px;
  position: relative;
}

.sharebubble i {
  height: 30px;
  width: 30px;
}
.sharebubble:after {
  border-style: solid;
  border-width: 0 12px 14px 0;
  border-color: transparent
    rgba(255, 255, 255, 0.7) transparent
    transparent;

  content: "";
  display: block;

  margin-left: -10px;
  left: 94%;
  bottom: -14px;
  width: 0;

  z-index: 1;
  position: absolute;
}

.fa-square-facebook {
  color: #1877f2;
}

.fa-square-instagram {
  color: #ee4dcb;
}

.fa-square-twitter {
  color: #1da1f2;
}

/* *** */

.bookmarked-post {
  color: darkred;
  transition: 0.2s all linear;
}

.liked-post {
  color: crimson;
  transition: 0.2s all linear;
}

.shared-btn {
  visibility: hidden;
}

/* *** */

.comments-box {
  cursor: pointer;
}

.comment-span {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 12px;
}

.comment-span-viewall {
  cursor: pointer;
  color: var(--grey-medium);
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-span-all {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #5a5a5a;
  font-size: 14px;

  margin-bottom: 15px;
  padding: 0px 5px;
}

.comment-span-user {
  display: flex;
  justify-content: space-between;
}
.comment-span-input {
  border: 1px solid var(--grey-light);
  border-radius: 5px;
  color: var(--grey-dark);
  padding: 4px 10px;
  width: 100%;
}

.comment-span-input:focus {
  outline: none;
}

.comment-span-btn {
  background-color: var(--grey-light);
  border: 1px solid var(--grey-light);
  border-radius: 5px;
  color: var(--grey-dark);
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  transition: 0.5s all ease;
}

.comment-span-btn:hover {
  background-color: #b3b3b3;
  border: 1px solid #b3b3b3;
}

@media screen and (max-width: 950px) {
  .postcard-head {
    gap: 10px;
    margin-bottom: 15px;
  }

  .postcard-head,
  .postcard-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 600px) {
}
