.display-none {
  display: none;
}
/* *** */

.span-mainpage {
  background-color: var(--white-dark);
  border-radius: 15px;

  margin-bottom: 35px;
  padding: 0px 30px;
}

.span-mainpage .span-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span-mainpage .span-header h2 {
  margin-top: 20px;
}

.span-mainpage button {
  background-color: transparent;
  border: none;

  z-index: 10;
}

.span-mainpage .span-body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.span-mainpage .span-body p {
  margin: 10px 275px 20px 0px;
}

.span-cellphone {
  top: -75px;
  right: 0;
  top: -75px;
  right: 0;

  position: absolute;
  width: 250px;
}

@media screen and (max-width: 1200px) {
  .span-cellphone {
    width: 200px;
  }
  .span-mainpage .span-body p {
    font-size: 14px;
    margin-right: 200px;
  }
}

@media screen and (max-width: 950px) {
  .span-cellphone {
    display: none;
  }
  .span-mainpage .span-body p {
    margin-right: 0px;
  }
}
