#subsection-mainpage-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100% - 110px);
  width: 280px;

  position: fixed;
}

#subsection-panel-user {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: flex-end;
  margin: 5% 0;
}

#subsection-panel-user-div {
  background-color: var(--grey-dark);
  border-radius: 15px;
  flex-grow: 2;
}

#subsection-panel-user-div h4 {
  color: var(--white);
  font-weight: 400;
  margin: 0;
  padding: 3% 10%;
}

#subsection-panel-image-div {
  width: 10%;
}

#fig-user {
  border-radius: 50%;
  left: -200%;
  position: relative;
  width: 300%;
}

.subsection-panel {
  background-color: var(--white-dark);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.subsection-panel h3 {
  margin: 10% 10% 0 10%;
}

.subsection-panel p {
  font-size: 0.9em;
  margin: 10% 10% 5% 10%;
}

.fig-user-all {
  border-radius: 50%;
  margin: 5% 3% 0 7%;
  width: 3.5vw;
}

#fig-weather {
  margin: 2% auto 10% auto;
  width: 30%;
}
