.display-none {
  display: none;
}
/* *** */

.span-mp {
  background-color: var(--white-dark);
  border-radius: 15px;

  margin-bottom: 35px;
  padding: 0px 30px;
}

.span-mp .span-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span-mp .span-header h2 {
  margin-top: 20px;
}

.span-mp button {
  background-color: transparent;
  border: none;

  z-index: 10;
}

.span-mp .span-body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.span-mp .span-body p {
  margin: 10px 275px 20px 0px;
}

.span-mp .span-body img {
  bottom: 10px;
  right: 0;

  position: absolute;
  width: 250px;
}

@media screen and (max-width: 1360px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 600px) {
}
