modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.467);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

info-modal {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
  padding: 14px;

  max-width: 50%;
  z-index: 60;
}

info-modal modal-heading {
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: var(--grey-dark);
  color: var(--white-dark);
  border-radius: 10px;

  font-size: 16px;
  padding: 0px 20px;
  height: 40px;
}

info-modal modal-heading .alert-icon {
  color: var(--pink);
  font-size: 14px;
}

info-modal modal-content {
  padding: 15px 10px 30px 10px;
}

info-modal footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
}

info-modal button {
  background-color: rgba(220, 20, 60, 0.2);
  border: none;
  border-radius: 10px;
  color: var(--grey-dark);
  font-weight: 500;
  padding: 8px 20px;
  transition: 0.5s all ease;
}

info-modal button:hover {
  background-color: rgba(220, 20, 60, 0.3);
}

info-modal button:last-child {
  background-color: crimson;
  color: var(--white-dark);
  margin-left: 10px;
}

info-modal button:last-child:hover {
  background-color: rgb(172, 5, 39);
  color: var(--white-dark) !important;
}
