* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: right;
  margin-bottom: -400px;
}
.cover {
  background-color: var(--grey-nav);
  width: 30em;
  height: 35em;
  /* position: fixed; */
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}
input {
  height: 3em;
  width: 20em;
  border-radius: 0.3em;
  margin: 2%;
}

button {
  height: 2.5em;
  width: 10em;
  border-radius: 0.3em;
}
.password-btn {
  margin-bottom: 20px;
}
h1,
p {
  color: white;
}
h1 {
  margin: 10%;
}
p {
  margin: 2%;
}
