.infocards-box {
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: var(--white-dark);
  border-radius: 15px;
  overflow: hidden;
}

.infocards-box hr {
  opacity: 0.4;
  margin: -5px auto;
  width: 90%;
}

.infocards-img {
  object-fit: cover;
  height: 125px;
  width: auto;
}

.infocards-head,
.infocards-info {
  padding: 0px 20px;
}

.infocards-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.infocards-box h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0px;
}

.infocards-box p {
  font-size: 15px;
}

.ic-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ic-info i {
  font-size: 18px;
  text-align: center;
  width: 20px;
}

.ic-adress,
.ic-phone,
.ic-earth {
  color: #004da0;
}
