#section-mainpage-div {
  background-color: var(--white);
  display: flex;
  min-height: 100vh;
}

.section-mainpage-border {
  margin: 1% 0.5% 1% 0.5%;
}

#subsection-mainpage-posts {
  background-color: blue;
  flex-grow: 2;
}

#subsection-mainpage-panel {
  background-color: yellow;
}
