#section-mainpage-div {
  background-color: var(--white);
  display: flex;
  min-height: 100vh;
}

.section-mainpage-border {
  margin: 1% 1% 1% 1%;
}

#subsection-mainpage-navbar {
  background-color: var(--grey-nav);
}

#subsection-mainpage-posts {
  background-color: blue;
  flex-grow: 2;
}
