.LoginPageHomeScreen {
  background-image: url("../../imgs/Background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  height: 100vh;

  position: relative;
}

.NavBarHomeScreen {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 30px 50px 0px 50px;
  z-index: 1;
}

.navbar-left p {
  color: var(--white-dark);
  font-size: 30px;
}

.navbar-buttons {
  display: flex;
  gap: 18px;
}

.NavBarHomeScreen button {
  border-radius: 10px;
  border: 3px solid var(--white-dark);
  background-color: transparent;

  color: var(--white-dark);
  font-size: 16px;
  font-weight: 600;

  padding: 6px 20px;
  transition: 0.5s all ease;
}

.NavBarHomeScreen button:last-child {
  background-color: var(--white-dark);
  color: var(--grey-nav);
  font-weight: 700;
}

.NavBarHomeScreen button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.NavBarHomeScreen button:last-child:hover {
  background-color: var(--grey-light);
  border: 3px solid var(--grey-light);
}

.MainLogoHomeScreen {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.MainLogoHomeScreen img {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 1450px) {
  .MainLogoHomeScreen img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 650px) {
  .NavBarHomeScreen {
    padding: 30px 25px 0px 25px;
  }

  .navbar-buttons {
    gap: 12px;
  }

  .navbar-left p {
    font-size: 20px;
  }

  .NavBarHomeScreen button {
    font-size: 12px;
    padding: 4px 12px;
  }
}

