.userpage-page {
  background-color: var(--white);
  display: flex;
  min-height: 100vh;

  margin: 15px;
  overflow: hidden;
}

.userpage-body {
  height: auto;
  width: 100%;
}

.userpage-sidebar {
  width: 280px;
  min-width: 280px;
  max-width: 280px;
}

@media screen and (max-width: 1100px) {
  .userpage-sidebar {
    width: 230px;
    min-width: 230px;
  }
}

@media screen and (max-width: 650px) {
  .userpage-page {
    flex-direction: column-reverse;
    margin: 0px;
  }

  .userpage-sidebar {
    top: 0px;
    height: auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .userpage-body {
    margin-top: 26px;
  }
}
