/* Tooltip text */
tool-tip {
  visibility: hidden;
  background-color: var(--grey-nav);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: relative;
  top: 0px;
  right: 120%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

tool-tip::first-letter {
  text-transform: lowercase;
}

tool-tip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent
    transparent var(--grey-nav);
}

/* Show the tooltip text when you mouse over the tooltip container */
user-item:hover tool-tip {
  visibility: visible;
}

user-container {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
}

user-item {
  display: block;
  position: relative;
}
