.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  width: 100%;
}

#registerform-header {
  color: var(--grey-extra-light);
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  padding: 50px 0px 60px 0px;
}

.registerform-cover {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--grey-nav);
  border-radius: 15px;

  width: 400px;
  height: calc(100vh - 60px);
  position: absolute;
  top: 30px;
  right: 40px;
}

.register-form div {
  border-radius: 5px;
  background-color: var(--grey-extra-light);
  padding-left: 12px;
  width: 80%;
}

.register-form input {
  border: none;
  background-color: var(--grey-extra-light);
  height: 40px;
  padding-left: 12px;
  width: 90%;
}

.register-form input:focus {
  outline: none;
}

#register-btn {
  background-color: var(--grey-extra-light);
  border-radius: 10px;
  border: none;

  /* margin-top: 20px; */
  padding: 8px 65px;
  transition: 0.5s all ease;
}

#register-btn:hover {
  background-color: var(--grey-light);
}

#registerform-para {
  color: var(--white-dark);
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: 0.5s all ease;
}

#registerform-para:hover {
  color: var(--grey-light);
}

@media screen and (max-width: 650px) {
  .registerform-cover {
    height: 90vh;
    margin: 0px auto;
    width: 90%;
    left: 0;
    right: 0;
  }

  .register-form input {
    width: 80%;
  }
}
