#section-navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--grey-nav);
  border-radius: 20px;

  padding: 40px 25px;
  height: calc(100% - 110px);
  width: 150px;

  overflow: hidden;
  z-index: 50;
  position: fixed;
}

#navbar-logo-div {
  display: flex;
  justify-content: center;
}

#navbar-logo {
  width: 120px;
}

.navbar-links-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  width: 100%;
}

#section-navbar .nb-icon {
  font-size: 22px;
  margin-right: 25px;
  text-align: center;

  width: 30px;
}

.button-style {
  display: flex;
  align-items: center;
  background: none;
  border: none;

  color: var(--white-dark);
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  padding: 0;
}

#section-navbar button:hover {
  color: var(--grey-medium);
  transition: 0.5s all ease;
}

#button-new-post {
  background-color: var(--white-dark);
  border-radius: 10px;
  border: none;

  color: var(--grey-nav);
  padding: 10px 15px;
}

#button-new-post:hover {
  background-color: var(--grey-light);
  color: var(--grey-nav) !important;
  transition: 0.5s all ease;
}

.icon-newpost {
  margin-right: 5px !important;
}

/* Page indicator  */

.Link {
  position: relative;
}

.pageindicator {
  color: var(--white);
  font-size: 54px;
  position: absolute;
  top: -16px;
  right: -37px;

  visibility: hidden;
}

.visibility-visible {
  visibility: visible !important;
}

@media screen and (max-width: 1200px) {
  #section-navbar {
    padding: 30px 10px;
    height: calc(100% - 90px);
    width: 75px;
  }

  #section-navbar .nb-icon {
    margin-right: 0px;
  }

  #navbar-logo {
    width: 55px;
  }

  .navbar-links-div {
    justify-content: center;
    align-items: center;
  }

  #section-navbar nb-icon {
    font-size: 26px;
    margin-right: 0px;
    width: auto;
  }

  #button-new-post {
    padding: 5px 8px;
  }

  .icon-newpost {
    margin-right: 0px !important;
  }

  .button-style p {
    display: none;
  }

  .pageindicator {
    top: -16px;
    right: -44px;
  }
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 650px) {
  #navbar-logo {
    width: 24px;
  }

  #navbar-logo-div {
    flex: 1;
  }

  #section-navbar {
    flex-direction: row;
    border-radius: 0px;

    padding: 18px 10px;
    height: auto;
    width: calc(100% - 20px);

    left: 0px;
    bottom: 0px;
    z-index: 50;
    position: fixed;
  }

  #section-navbar .nb-icon {
    font-size: 20px;
  }

  .navbar-links-div {
    flex-direction: row;
  }

  .navbar-links-div:nth-last-of-type(3) {
    margin-right: 40px;
    justify-content: flex-end;
    flex: 2;
  }

  .navbar-links-div {
    gap: 15px;
  }

  .navbar-links-div:nth-last-of-type(2) {
    margin-left: 40px;
    justify-content: flex-start;
    flex: 2;
  }
  .navbar-links-div:nth-last-of-type(1) {
    flex: 1;
  }

  #button-new-post {
    border: 5px solid var(--grey-nav);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 46px;
    position: absolute;
  }

  #section-navbar .nb-icon {
    font-size: 18px;
  }

  .pageindicator {
    top: -52px;
    right: 0px;
    transform: rotate(-90deg);
  }
}
