#section-navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--grey-nav);
  border-radius: 20px;

  padding: 40px 25px;
  height: calc(100% - 110px);
  width: 150px;

  position: fixed;
}

#navbar-logo-div {
  display: flex;
  justify-content: center;
}

#navbar-logo {
  width: 120px;
}

.navbar-links-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  width: 100%;
}

#section-navbar i {
  font-size: 22px;
  margin-right: 25px;

  width: 25px;
}

.button-style {
  display: flex;
  background: none;
  border: none;

  color: var(--white-dark);
  font-size: 1rem;
  font-weight: 600;
  text-align: left;

  padding: 0;
}

#section-navbar button:hover {
  color: var(--grey-medium);
  transition: 0.5s all ease;
}

#button-new-post {
  background-color: var(--white-dark);
  border-radius: 10px;
  border: none;

  color: var(--grey-nav);
  padding: 10px 15px;
}

#button-new-post:hover {
  background-color: var(--grey-light);
  color: var(--grey-nav) !important;
  transition: 0.5s all ease;
}

.icon-newpost {
  margin-right: 5px !important;
}

@media screen and (max-width: 1200px) {
  #section-navbar {
    padding: 30px 10px;
    height: calc(100% - 90px);
    width: 75px;
  }

  #navbar-logo {
    width: 55px;
  }

  .navbar-links-div {
    justify-content: center;
    align-items: center;
  }

  #section-navbar i {
    font-size: 26px;
    margin-right: 0px;
    width: auto;
  }

  #button-new-post {
    padding: 5px 8px;
  }

  .icon-newpost {
    margin-right: 0px !important;
  }

  .button-style p {
    display: none;
  }
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 600px) {
}
