@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #007aff;
  --blue-light: #d5e5f7;
  --green: #4cd964;
  --green-light: #d4f5da;
  --pink: #ff2d55;
  --pink-light: #ffe9ed;
  --orange: #ff9500;
  --orange-light: #fdecd6;

  --grey-nav: #111111;
  --grey-dark: #333333;
  --grey-medium: #888888;
  --grey-light: #cccccc;
  --grey-extra-light: #eeeeee;

  --white: #fff;
  --white-dark: #f5f5f5;
}

body {
  color: var(--grey-dark);
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
}
