.search-bg {
  display: flex;
  align-items: center;
  gap: 15px;

  background-color: var(--white-dark);
  border-radius: 15px;

  color: var(--grey-dark);

  margin-bottom: 35px;
  height: 45px;
  width: 60%;
}

.search-icon {
  font-size: 22px;
  margin-left: 15px;
}

.search-bg p {
  font-size: 16px;
  font-weight: 600;
}

.search-input {
  background-color: transparent;
  border: none;

  width: 100%;
}

.search-input:focus {
  outline: none;
}

.search-submitbtn {
  background-color: #dbdbdb;
  border-radius: 10px;
  border: none;

  color: #5f5f5f;
  font-weight: 500;
  margin-right: 15px;
  padding: 5px 10px;
  transition: 0.5s all ease;
}

.search-submitbtn:hover {
  background-color: #bebebe;
  color: #4b4b4b;
}

@media screen and (max-width: 850px) {
  .search-bg {
    width: 100%;
  }
}
